body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #abd3ac;
}
body h1 {
    color: rgb(43, 116, 199);
}
#fileInput {
    display: none;
}
#chooseFile {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#output {
    display: none;
    margin-top: 20px;
    background-color: rgb(78, 78, 78);
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
}
#fileCount {
    color: rgb(167, 43, 43);
    font-weight: bold;
    margin-top: 10px;
    font-size: 20px;
}
.result {
    margin-top: 5px;
}
.found {
    color: red;
}
.not-found {
    color: green;
}
.highlight {
    background-color: rgb(211, 40, 40);
}
.dragover {
    background-color: #45a049;
}
.word {
    color: white;
    font-weight: bold;
}
.line {
    background-color: darkgray;
    color: white;
    padding: 5px;
    margin-top: 5px;
    border-radius: 4px;
}
.typewriter {
    display: inline-block;
    overflow: hidden;
    border-right: 0.15em solid #333;
    white-space: nowrap;
    margin: 0;
    font-size: 24px;
    font-family: monospace;
    animation: typing 3s steps(40, end), blink-caret 0.50s step-end infinite;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes blink-caret {
    from, to {
        border-color: transparent;
    }
    50% {
        border-color: #333;
    }
}